<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Recipes catalogue with nutrition facts for you">
  <meta name="dicoding:email" content="abdillahnurr12@gmail.com">
  <meta name="theme-color" content="#389238">
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
    rel="stylesheet"
  />
  <link rel="manifest" href="manifest.json">
  <link rel="icon" href="icon.png">
  <link rel="apple-touch-icon" href="icon.png" alt="anaksehat">
  <title>AnakSehat</title>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  />
  <script src="https://kit.fontawesome.com/adaa41c26e.js" crossorigin="anonymous"></script>

</head>
<body>
  <header class="app-bar">
    <div class="app-bar__menu">
    <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand logo">
        <img src="anaksehat.png" alt="Logo AnakSehat">
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
    <ul>
        <li><a href="#/home">Home</a></li>
        <li><a href="#/nutrition">Nutrition</a></li>
        <li><a href="#/recipe">Recipe</a></li>
        <li><a href="#/about-us">About Us</a></li>
    </ul>
    </header>

  <main id="mainContent">
  </main>

      <footer class="footer">
        <div class="row">
          <div class="footer-col">
            <img src="anaksehat.png" alt="Logo AnakSehat">
          </div>
          <div class="footer-col">
            <h4>Our Services</h4>
            <ul>
              <li><a href="#/home">Article</a></li>
              <li><a href="#/nutrition">Calculating Nutrition</a></li>
              <li><a href="#/recipe">Recipe</a></li>
              <li><a href="#/about-us">About us</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Help Center</h4>
            <ul>
              <li><p>+62 852 4756 6970 (Ridho)</p></li>
              <li><p>+62 813 4736 8031 (Kynta)</p></li>
              <li><p>+62 813 6088 5751 (Samuel)</p></li>
              <li><p>+62 812 8341 5519 (Sultan)</p></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>About us</h4>
            <ul>
            <li>
              <p>Website AnakSehat merupakan website yang dikhususkan untuk para orangtua terutama ibu hamil dalam membantu proses pertumbuhan dan perkembangan anak dibawah 5 tahun</p>
            </li>
          </ul>
          </div>
      </div>
      <div class="footer-bottom">
        <p>copyright &copy; 2022 AnakSehat</p>
      </div>
   </footer>
</body>
</html>
